.image {
    width: 864px;
    height: 2622px;
}

.image .homepage {
    position: fixed;
    top: -40px;
    left: calc(50.00% - 512px);
    width: 1024px;
    height: 2782px;
    object-fit: cover;
}