/* ===== Dashboard Seller ===== */

/* Box sambutan */
.dash-welcome h1 {
    font-size: 28px;
    margin-bottom: 6px;
}

.dash-welcome p {
    color: #444;
    margin-bottom: 24px;
}

/* Card-container */
.dash-cards {
    display: flex;
    gap: 20px;
}

/* Card */
.dash-card {
    background: white;
    padding: 24px;
    border-radius: 14px;
    width: 240px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    border: 1px solid #eaeaea;
}

.dash-card h3 {
    margin-bottom: 12px;
    font-size: 18px;
}

.dash-card p {
    font-size: 20px;
    font-weight: bold;
}
